{% extends "base.html" %}
{% import "macros/form_macros.html" as f %}

{% block content %}
<div class="max-w-md mx-auto mt-10 bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-center mb-6">Login</h2>
    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }} <!-- CSRF token -->
        
        <div class="mb-4">
            {{ f.render_field(form.email, class_="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white", placeholder="seuemail@exemplo.com") }}
        </div>
        
        <div class="mb-4">
            {{ f.render_field(form.password, class_="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white", placeholder="Sua Senha") }}
        </div>
        
        <div class="mb-4 flex items-center justify-between">
            <div class="flex items-center">
                {{ form.remember(class_="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600") }}
                {{ form.remember.label(class_="ml-2 block text-sm text-gray-900 dark:text-gray-300") }}
            </div>
            <!-- Futuramente, link para "Esqueci minha senha" -->
        </div>
        
        <div>
            {{ form.submit(class_="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline") }}
        </div>
    </form>
    <p class="mt-6 text-center text-sm text-gray-600 dark:text-gray-400">
        Não tem uma conta? <a href="{{ url_for('auth.register') }}" class="font-medium text-blue-600 hover:text-blue-500">Cadastre-se aqui</a>.
    </p>
</div>
{% endblock %}

